# Ignore virtual environment
.env
env/

# Ignore SQLite database
db.sqlite3

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Jupyter checkpoints
.jupyter/
.ipynb_checkpoints/
test.ipynb

# Ignore IDE settings
.vscode/
.idea/

# Ignore other common files/folders
*.log
*.bak
*.swp
*.swo

# Ignore coverage reports and other build artifacts
.coverage
*.cover
*.egg-info/
dist/
build/

# Ignore Django migration files
*/migrations/
.env
