# Ignore virtual environment
env/

# Ignore SQLite database
db.sqlite3

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Jupyter checkpoints
.jupyter/
.ipynb_checkpoints/
test.ipynb

# Ignore IDE settings
.vscode/
.idea/
__pycache__/
